@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.nav-section {
  color: #ffffff;
  font-family: "Roboto", sans-serif, Roboto, Arial, Helvetica !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #000000;
}
.nav-section__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.9rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}
.nav-section__top-container .top--logo {
  display: flex;
  align-items: baseline;
}
.nav-section__top-container .top--logo__slogan {
  margin-left: 1rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .nav-section__top-container .top--logo__slogan {
    display: none;
  }
}
.nav-section__top-container .top--lists {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-section__top-container .top--lists__list {
  font-weight: 200;
}
.nav-section__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.nav-section__bottom-container .bottom-list--container {
  position: relative;
}
.nav-section__bottom-container .bottom-list--container__bottom--lists {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}
.nav-section__bottom-container .bottom-list--container__bottom--lists .list {
  font-size: 1rem;
  font-weight: 200;
}
.nav-section__bottom-container .bottom-list--container .toggle {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  margin: 0 auto;
  display: none;
  transition: all 0.6s ease-in-out;
}
.nav-section__bottom-container .bottom-list--container .toggle .bar {
  background: #ffffff;
  border-radius: 50px;
  height: 2px;
  width: 50%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out 0.25s;
}
.nav-section__bottom-container .bottom-list--container .toggle .bar:nth-child(1).show {
  transform: rotate(45deg) translate(6px, 6px);
}
.nav-section__bottom-container .bottom-list--container .toggle .bar:nth-child(2).show {
  opacity: 0;
}
.nav-section__bottom-container .bottom-list--container .toggle .bar:nth-child(3).show {
  transform: rotate(-45deg) translate(6px, -6px);
}
.nav-section__bottom-container .bottom-list--container .toggle .bar.show {
  background: yellow;
}
.nav-section__bottom-container .bottom-list--container .toggle.show {
  transform: rotate(360deg);
}
@media screen and (max-width: 1140px) {
  .nav-section__bottom-container .bottom-list--container .toggle {
    display: flex;
  }
  .nav-section__bottom-container .bottom-list--container .bottom-list--container__bottom--lists.hide {
    position: absolute;
    display: flex;
    position: fixed;
    background: rgba(65, 65, 65, 0.6901960784);
    backdrop-filter: blur(10px);
    opacity: 0;
    left: 0;
    width: 100vw;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    color: transparent;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
    transition: all 0.35s ease-in-out;
  }
  .nav-section__bottom-container .bottom-list--container .bottom-list--container__bottom--lists.show {
    position: absolute;
    display: flex;
    position: fixed;
    background: rgba(65, 65, 65, 0.6901960784);
    backdrop-filter: blur(10px);
    opacity: 1;
    margin-top: 1.3rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 2rem;
    transition: all 0.35s ease-in-out;
    overflow-y: hidden;
  }
}
.nav-section__bottom-container .bottom--content {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
  margin-right: auto;
  flex: auto;
  margin: auto;
}
@media screen and (max-width: 1140px) {
  .nav-section__bottom-container .bottom--content {
    justify-content: space-between;
  }
}
.nav-section__bottom-container .bottom--content__search {
  position: relative;
  border-radius: 50px;
  border: 0.5px solid #ffffff;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1140px) {
  .nav-section__bottom-container .bottom--content__search {
    max-width: 600px;
    width: 100%;
  }
}
.nav-section__bottom-container .bottom--content__search .search-bar {
  padding: 0.8rem 1rem;
  border: none;
  background: none;
  width: 100%;
  min-width: 400px;
  font-size: 1rem;
  color: #ffffff;
}
@media screen and (max-width: 1140px) {
  .nav-section__bottom-container .bottom--content__search .search-bar {
    min-width: 100%;
  }
}
.nav-section__bottom-container .bottom--content__search .search-bar:focus {
  outline: none;
}
.nav-section__bottom-container .bottom--content__search .search-bar::placeholder {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 200;
}
.nav-section__bottom-container .bottom--content__search .search-btn {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}
.nav-section__bottom-container .bottom--content__shopping--bag {
  position: relative;
}
.nav-section__bottom-container .bottom--content__shopping--bag .shopping--button {
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 2.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-section__bottom-container .bottom--content__shopping--bag .shopping--button .cart-count {
  position: absolute;
  color: #222222;
  font-size: 1rem;
  font-weight: 900;
  top: 70%;
  right: 50%;
  transform: translate(50%, -50%);
}
@media screen and (max-width: 1140px) {
  .nav-section__bottom-container {
    flex-direction: row-reverse;
    gap: 1rem;
  }
}
@media screen and (max-width: 678px) {
  .nav-section__bottom-container {
    gap: 1rem;
  }
}

/*# sourceMappingURL=Navigation.css.map */
