@import "../variables/colors";
@import "../base/typography";

.category {
  background: $white-color;
  padding: 1rem 0;

  &__category--cards {
    // background: blue;
    display: flex;
    max-width: 900px;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem auto;
    // background: yellow;

    .category--title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;

      @media screen and (max-width: 1140px) {
        text-align: center;
      }
    }

    .category--image-container {
      //   background: red;
      display: flex;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 900;
      flex-wrap: wrap;
      justify-content: center;

      .category--meta {
        transition: all 0.25s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }

      @media screen and (max-width: 1140px) {
        gap: 1rem;
      }
    }
  }
}
