.copy {
  bottom: 0;
  padding: 0.5rem 1rem;
  background: $black-color;
  color: $white-color;
  font-size: 1rem;
  text-align: center;
  font-family: $font-primary;
  font-weight: 300;
}

@media screen and (max-width: 678px) {
  .copy {
    font-size: 1rem;
  }
}
