.copy {
  height: auto;
  padding: 0.5rem 1rem;
  border-radius: 20px 20px 0 0;
  background: $white-color;
  color: $black-color;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: $font-secondary;
  font-weight: 300;
  p {
    &:nth-child(1) {
      border-bottom: 1px solid $black-color;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 678px) {
  .copy {
    font-size: 1rem;
  }
}
