.product-section {
  color: $white-color;
  padding: 2rem 0 2rem 2rem;
  //   background: orangered;
  @media screen and (max-width: 1140px) {
    padding: 2rem 0;
  }

  &__title {
    margin: 1rem auto;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 1rem;
    // background: red;
  }
  &__container {
    overflow: hidden;
    display: flex;

    @media screen and (max-width: 1140px) {
      flex-direction: column;
      gap: 2rem;
      // background-color: red;
      padding: 0 1rem;
    }

    .section--meta {
      //   background: red;
      margin: auto;
      padding-left: 1rem;
      //   background: red;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      @media screen and (max-width: 1140px) {
        gap: 1rem;
        margin-top: 2rem;
        text-align: center;
      }

      .view-more--link {
        margin-right: auto;
        text-align: left;
        // background: blue;
        font-weight: 300;
        font-size: 1.5rem;
        border-bottom: 1px solid $white-color;

        @media screen and (max-width: 1140px) {
          margin-right: 0;
          margin: auto;
        }
      }
      .section--message {
        font-size: 2.5rem;
        font-weight: 900;
        max-width: 300px;

        @media screen and (max-width: 1140px) {
          max-width: 100%;
          flex-direction: column;
          gap: 2rem;
        }
      }
    }
  }

  .product-slider {
    padding: 1rem;
    margin-left: 1rem;
    display: flex;
    overflow-x: auto;
    width: 100%;
    margin: 1rem 0;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */

    @media screen and (max-width: 1140px) {
      margin-bottom: 2rem;
    }

    &::-webkit-scrollbar {
      display: none; /* Hides scrollbar in Chrome, Safari, and Opera */
    }

    .product-item {
      flex: 0 0 auto;
      padding: 10px;
      margin-right: 20px;
      min-width: 250px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
      // background: red;

      &__inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
        .meta--location {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }
        .button-container {
          display: flex;
          justify-content: space-between;

          .button {
            padding: 0.5rem 1rem;
            background: none;
            border: 2px solid $white-color;
            font-weight: 200;
            letter-spacing: 1px;
            border-radius: 10px;
            color: $white-color;
            cursor: pointer;
          }
        }
      }
    }
  }
}
