.product-details {
  background: $white-color;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;

  &__spacer {
    height: 122.09px; // Takes into account the height of the navigation
    background: green;
  }

  &__container {
    height: calc(auto - 122.09px);
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 2rem;

    @media screen and (max-width: 1140px) {
      flex-direction: column-reverse;
      margin-top: 2rem;
      margin-left: 0;
      padding-left: 0;
      gap: 2rem;
      // background-color: red;
    }
  }

  &__container--left {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;

    .listing--content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .listing--content_listed {
        font-size: 0.8rem;
        font-weight: 200;
        color: $black-color;
        display: inline-block;
        margin: auto;
        margin-left: 0;
        padding: 0.3rem 0.5rem;
        background: #f0f0f0;
      }

      // Learn More Styles
      span .learn-more {
        font-size: 0.8rem;
        font-weight: 400;
        // link color blue
        color: #0055ff;
        text-decoration: underline;
      }

      .legal--content {
        font-size: 0.8rem;
        font-weight: 200;
        width: 320px;
        text-align: center;
        margin: auto;
        color: $black-color;

        .legal--content__link {
          color: #0055ff;
          text-decoration: underline;
        }
      }
      .listing--content__del--fee {
        font-weight: 200;
        color: $black-color;
        display: inline-block;
        margin: auto;
        margin-left: 0;
        padding: 0.3rem 0.5rem;
        background: #f0f0f0;
      }

      // Button Styles
      .button-container {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;

        .cart-button {
          width: 200px;
          background: none;
          border: 2px solid $black-color;

          // Same Styles
          margin: auto;
          padding: 0.5rem 1rem;
          border-radius: 10px;
          font-size: 1.2em;
          font-weight: 200;
          letter-spacing: 1px;
          margin-right: auto;
          transition: all 0.25s ease-in-out;
          font-style: normal;
          font-weight: 600;

          &:hover {
            transform: scale(1.05);
          }
        }

        // Custom Divider For Checkout Buttons
        .checkout--divider-or p {
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          margin: auto;
          font-size: 1rem;
          font-weight: 200;
          color: $black-color;

          &::before {
            content: "";
            height: 1px;
            width: 100px;
            background: $black-color;
            margin-right: 0.5rem;
          }
          &::after {
            content: "";
            height: 1px;
            width: 100px;
            background: $black-color;
            margin-left: 0.5rem;
          }
        }

        .button {
          width: 250px;
          border: none;
          background: $black-color;
          color: $white-color;

          // Same Styles
          margin: auto;
          padding: 0.7rem 1rem;
          border-radius: 10px;
          font-size: 1.2em;
          font-weight: 200;
          letter-spacing: 1px;
          margin-right: auto;
          transition: all 0.25s ease-in-out;

          // PayPal Button
          &:nth-child(4) {
            font-style: italic;
            font-weight: 600;
            span {
              font-style: normal;
              font-size: 0.8rem;
              font-weight: 200;
            }
          }

          &:hover {
            transform: scale(1.05);
          }
        }
      }
      // Button Styles
    }

    .user {
      //   background: orange;
      margin-top: 5rem;
      &__wrapper {
        display: flex;
        padding: 1rem;
        gap: 1rem;
        max-width: 1200px;
        margin-right: auto;
        margin: auto;
        align-items: center;

        .avatar-image {
          width: 120px;
          height: 120px;
          object-fit: cover;
          border-radius: 50%;
        }

        .user--meta {
          // background: blue;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          .user--name {
            font-size: 1.5rem;
            font-weight: 700;
          }

          .user--details {
            display: flex;
            gap: 0.2rem;
            font-size: 0.9rem;

            // add border before the first item
            p:nth-child(2) {
              border-left: 1.5px solid $black-color;
              padding-left: 0.2rem;
            }
            p:nth-child(3) {
              border-left: 1.5px solid $black-color;
              padding-left: 0.2rem;
            }
          }
          .view-shop--btn {
            background: none;
            color: $black-color;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            border: 2px solid $black-color;
            font-size: 1.2em;
            font-weight: 200;
            letter-spacing: 1px;
            margin-right: auto;
            transition: all 0.25s ease-in-out;

            &:hover {
              transform: scale(1.05);
            }
          }
        }

        @media screen and (max-width: 678px) {
          flex-direction: column;
          gap: 1rem;
          margin-top: 0;
          padding-top: 0;
          .user--meta {
            text-align: center;
            .user--details {
              flex-direction: column;
              gap: 0.5rem;
              // add border before the first item
              p:nth-child(2) {
                border-left: none;
                padding-left: 0.2rem;
              }
              p:nth-child(3) {
                border-left: none;
                padding-left: 0.2rem;
              }
            }
          }
        }
      }
    }
  }

  &__container--right {
    margin: auto;

    .product--meta {
      margin-top: 2rem;
      &__condition,
      &__brand,
      &__model,
      &__description,
      &__category {
        display: flex;
        gap: 1rem;
        margin: 0.5rem 0;
        font-weight: 200;
        align-items: center;

        span:nth-child(1) {
          width: 100px;
          color: lighten($black-color, 20%);
        }
      }

      &__category {
        &__inner--tags {
          display: flex;
          gap: 0.5rem;

          // Positioning of Category Tags
          .category--tag {
            text-decoration: underline;
            padding: 0.3rem 0;
            border-radius: 10px;
            font-weight: 200;
            color: $black-color;
          }
        }
      }

      @media screen and (max-width: 1140px) {
        margin: 1rem 2rem;
      }
    }

    // Product Image
    .product--image {
      width: 550px;
      max-width: 550px;
      height: 550px;
      object-fit: cover;

      @media screen and (max-width: 1140px) {
        width: 100%;
        height: 100%;
        max-height: 550px;
        max-width: 100%;
      }
    }
  }
}
